.footer {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 104;
  height: 16;
  opacity: 1;
  top: 1340px;
  left: 668px;
}
